{% extends "user/base.html" %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-10">
            <h1>Order Details</h1>
            <p><strong>Order ID:</strong> {{ order.unique_id }}</p>
            <p><strong>Total Price:</strong> {{ order.total_price }}</p>

            <h2>Order Items</h2>
            <table class="table table-striped table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Created</th>
                    </tr>
                </thead>
                <tbody>
                    {% for order_item in order_items %}
                        <tr>
                            <td>{{ order_item.product.product_name }}</td>
                            <td>{{ order_item.product.price }}</td>
                            <td>{{ order_item.quantity }}</td>
                             <td>{{ order_item.created_at }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
